@import './_base';

.ss_twitter_name {
    background-color: $ss-base-color;
    border: 1px solid $ss-border-color;
    align-items: center;
}

.ss_twitter__icon {
    color: $twitter-color;
    font-size: 30px !important;
}

.ss_user_image {
    height: 70px;
    width: 70px;
}

.twitter_handler {
    color: $twitter-handler-color;
}

.ss_tweet {
    border: none !important;
    border-bottom: dotted !important;
    border-bottom-color: $ss-border-color !important;
}

.icon_sprout {
    position: relative;
    right: 47%;
    bottom: 40px;
    margin: 5px;
    color: $ss-border-color;
}

.character_count {
    color: $text-color;
    position: relative;
    bottom: 30px;
}

.ss_user_list {
    list-style: none;
}
.ss_user_list li{
    cursor: pointer;
    font-size: 15px;
    transition: font-size .5s;
}
.ss_user_list li:hover{
    background-color: #f8f8f8;
   font-size: 18px;
}

.ss_user_data {
    height: 500px;
    overflow-y: scroll;
}